.main {
     margin: auto;
    width: 50%;
    height: auto;
    display: block;
}
.left {
     float: left;
     margin: auto;
    /* width: 50%; */
    height: auto;
    display: block;
}
.right {
     float: right;
     margin: auto;
    /* width: 50%; */
    height: auto;
    display: block;
} 